<form [formGroup]="infoForm">
  <div class="c-content-inner c-font-bold">
    <div class="row">
      <div class="col-md-8">
        <p class="c-line-title">个人信息</p>
      </div>
      <div class="col-md-4 text-right">
        <button class="col-md-2 btn btn-primary" (click)="goList();">返回
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left"><span class="c-text-required">*</span>姓名：</label>
          <div class="col-md-9">
            <input formControlName="spName" type="text" maxlength="20" class="form-control" value="{{person.name}}"
                   placeholder="必填项">
            <div class="c-validator-invalid"
                 [hidden]="!(infoForm.controls['spName'].errors && infoForm.controls['spName'].dirty)">
              姓名必填，1-20位！
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left"><span class="c-text-required">*</span>身份证：</label>
          <div class="col-md-9">
            <input formControlName="spIdCard" [readonly]="isEdit" type="text" (keypress)="onKeyPress($event)"
                   value="{{person.idCard}}" class="form-control" placeholder="必填项">
            <div class="c-validator-invalid"
                 [hidden]="!(infoForm.controls['spIdCard'].errors && infoForm.controls['spIdCard'].dirty)">
              18位身份证验证错误！
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">手机号码：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.phone" maxlength="11" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">民族：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.nation" maxlength="5" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">户籍地：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.domicile" maxlength="80" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">虚拟身份：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.virtualIdentity" maxlength="20" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">活动时间：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.activityTime" [ngModelOptions]="{standalone: true}"
                   [readonly]="true" [dpDayPicker]="timePickerConfig" [theme]="'dp-material'"
                   [mode]="'daytime'" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">推送时间：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.pushTime" [ngModelOptions]="{standalone: true}" [readonly]="true"
                   [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'day'" class="form-control"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-content-inner c-font-bold c-mt10">
    <div class="row">
      <div class="col-md-12">
        <p class="c-line-title">行为轨迹</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">资源名：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.resourceName" maxlength="10" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">活动场所：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.activityPlace" maxlength="60" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">活动场所详址：</label>
          <div class="col-md-10">
            <input [(ngModel)]="person.activityPlaceDetail" maxlength="80" [ngModelOptions]="{standalone: true}"
                   type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">住宿（上网）地点：</label>
          <div class="col-md-10">
            <input [(ngModel)]="person.stayInternetSite" maxlength="80" [ngModelOptions]="{standalone: true}"
                   type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">来津方式：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.vehicle" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">来津联系人：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.tjContact" maxlength="30" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">随身物品：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.belongings" maxlength="50" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">来津时间及事由：</label>
          <div class="col-md-10">
            <input [(ngModel)]="person.tjTimeReason" maxlength="50" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">在津住地：</label>
          <div class="col-md-10">
            <input [(ngModel)]="person.tjStaySite" maxlength="60" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">同行人员：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.peerStaff" maxlength="50" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">同住（同上网）人员：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.stayStaff" maxlength="50" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">驾乘车牌：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.carNum" maxlength="50" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-content-inner c-font-bold c-mt10">
    <div class="row">
      <div class="col-md-12">
        <p class="c-line-title">列控信息</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">管辖单位：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.jurisdiction" maxlength="10" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">涉恐特征：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.terroristChar" maxlength="10" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">列控类型：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.controlType" maxlength="20" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">核查民警：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.checkPolice" maxlength="30" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">核查地点：</label>
          <div class="col-md-9">
            <input [(ngModel)]="person.checkSite" maxlength="50" [ngModelOptions]="{standalone: true}" type="text"
                   class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-content-inner c-font-bold c-mt10">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 c-mt10">
        <div class="form-group row c-ml10">
          <div *ngIf="!isEdit" class="col-md-9">
            <button class="col-md-12 btn btn-primary" [disabled]="!infoForm.valid" (click)="submit(template);">保存
            </button>
          </div>
          <div *ngIf="isEdit" class="col-md-9">
            <button class="col-md-12 btn btn-primary" [disabled]="!infoForm.valid" (click)="submit(template);">修改
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">提示</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <label>{{person.name}} 提交成功!</label>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" (click)="returnHome()">返回首页</button>
    <button type="button" class="btn btn-primary" (click)="returnList()">返回列表页</button>
  </div>
</ng-template>
