<div class="c-content-inner">
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title">重点人员列表</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">列控关键字：</label>
        <div class="col-md-7">
          <input [(ngModel)]="controlKeyword" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">群体类别：</label>
        <div class="col-md-7">
          <input [(ngModel)]="groupType" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">身份证号：</label>
        <div class="col-md-7">
          <input [(ngModel)]="idCard" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">姓名：</label>
        <div class="col-md-7">
          <input [(ngModel)]="name" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">手机：</label>
        <div class="col-md-7">
          <input [(ngModel)]="phoneText" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">微信：</label>
        <div class="col-md-7">
          <input [(ngModel)]="wechatNameText" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">管辖单位：</label>
        <div class="col-md-7">
          <input [(ngModel)]="jurisdiction" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">管辖派出所：</label>
        <div class="col-md-7">
          <input [(ngModel)]="juriPolice" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-5 col-form-label text-right">性别：</label>
        <div class="col-md-7">
          <select class="c-w-4 c-fix-h-2 form-control" [(ngModel)]="sex">
            <option value="">全部</option>
            <option value="true">男</option>
            <option value="false">女</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-right">年龄：</label>
        <div class="col-md-8">
          <input [(ngModel)]="startAge" type="number" min="1" max="150" class="form-control col-md-5 c-input-inline"
                 placeholder="起始年龄">
          <label class="col-md-2 c-input-inline text-center c-mt5">至</label>
          <input [(ngModel)]="endAge" type="number" min="1" max="150" class="form-control col-md-5 c-input-inline"
                 placeholder="终止年龄">
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group text-left">
        <button class="btn btn-primary" (click)="search();"><i class="fa fa-search fa-fw"></i> 查询</button>
        <label class="c-w-1-6"></label>
        <button class="btn btn-outline-primary" (click)="export();"><i class="fa fa-download fa-fw"></i> 导出</button>
        <label class="c-w-1-6"></label>
        <button class="btn btn-outline-light" (click)="clear();"><i class="fa fa-refresh fa-fw"></i> 清空</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive" #sdt="simpleDataTable" app-simple-data-table>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="text-center c-no-warp">
              &nbsp;&nbsp;操作&nbsp;&nbsp;
            </th>
            <th class="text-center c-no-warp">
              列控关键字
            </th>
            <th class="text-center c-no-warp">
              群体类别
            </th>
            <th class="text-center c-no-warp">
              身份证号
            </th>
            <th class="text-center c-no-warp">
              &nbsp;&nbsp;姓名&nbsp;&nbsp;
            </th>
            <th class="text-center c-no-warp">
              联系方式
            </th>
            <th class="text-center c-no-warp">
              微信名称
            </th>
            <th class="text-center c-no-warp">
              管辖单位
            </th>
            <th class="text-center c-no-warp">
              管辖派出所
            </th>
            <th class="text-center c-no-warp">
              性别
            </th>
            <th class="text-center c-no-warp">
              年龄
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of sdt.data">
            <td class="text-center">
              <a href="javascript:;" (click)="forwardEdit(item.idCard);"><i class="fa fa-edit fa-fw"></i></a>
              <a href="javascript:;" (click)="deletePopup(template, item.idCard, item.name);">
                <i class="fa fa-trash fa-fw"></i>
              </a>
            </td>
            <td class="text-center">{{item.controlKeyword}}</td>
            <td class="text-center">{{item.groupType}}</td>
            <td class="text-center">
              <a href="javascript:;" (click)="forwardDetail(item.idCard);">{{item.idCard}}</a>
            </td>
            <td class="text-center">
              <a href="javascript:;" (click)="forwardDetail(item.idCard);">{{item.name}}</a>
            </td>
            <td class="text-center">{{item.phoneText}}</td>
            <td class="text-center">{{item.wechatNameText}}</td>
            <td class="text-center">{{item.jurisdiction}}</td>
            <td class="text-center">{{item.juriPolice}}</td>
            <td class="text-center">{{item.sex?'男':'女'}}</td>
            <td class="text-center">{{item.age}}</td>
          </tr>
          </tbody>
        </table>
        <app-simple-data-http-page #hp [url]="url" [method]="method" [param]="param" [pageList]="pageList"
                                   [btnCls]="btnCls"></app-simple-data-http-page>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">提示</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <label>确定删除 {{deleteName}}?</label>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" (click)="confirmDelete()">确定</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">取消</button>
  </div>
</ng-template>
