<div class="c-content-inner">
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title">个人信息</p>
    </div>
  </div>
  <div class="row c-row-btm-border">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">姓名：</label>
        <label class="col-md-12 text-left">{{person.name}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">身份证：</label>
        <label class="col-md-12 text-left">{{person.idCard}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">手机号码：</label>
        <label class="col-md-12 text-left">{{person.phone}}</label>
      </div>
    </div>
  </div>
  <div class="row c-row-btm-border">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">民族：</label>
        <label class="col-md-12 text-left">{{person.nation}}</label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">户籍地：</label>
        <label class="col-md-12 text-left">{{person.domicile}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">虚拟身份：</label>
        <label class="col-md-12 text-left">{{person.virtualIdentity}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">活动时间：</label>
        <label class="col-md-12 text-left">{{person.activityTime}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">推送时间：</label>
        <label class="col-md-12 text-left">{{person.pushTime}}</label>
      </div>
    </div>
  </div>
</div>
<div class="c-content-inner c-mt10">
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title">行为轨迹</p>
    </div>
  </div>
  <div class="row c-row-btm-border">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">资源名：</label>
        <label class="col-md-12 text-left">{{person.resourceName}}</label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">活动场所：</label>
        <label class="col-md-12 text-left">{{person.activityPlace}}</label>
      </div>
    </div>
  </div>
  <div class="row c-row-btm-border">
    <div class="col-md-6">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">活动场所详址：</label>
        <label class="col-md-12 text-left">{{person.activityPlaceDetail}}</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">住宿（上网）地点：</label>
        <label class="col-md-12 text-left">{{person.stayInternetSite}}</label>
      </div>
    </div>
  </div>
  <div class="row c-row-btm-border">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">来津方式：</label>
        <label class="col-md-12 text-left">{{person.vehicle}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">来津联系人：</label>
        <label class="col-md-12 text-left">{{person.tjContact}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">随身物品：</label>
        <label class="col-md-12 text-left">{{person.belongings}}</label>
      </div>
    </div>
  </div>
  <div class="row c-row-btm-border">
    <div class="col-md-6">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">来津时间及事由：</label>
        <label class="col-md-12 text-left">{{person.tjTimeReason}}</label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">在津住地：</label>
        <label class="col-md-12 text-left">{{person.tjStaySite}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">同行人员：</label>
        <label class="col-md-12 text-left">{{person.peerStaff}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">同住（同上网）人员：</label>
        <label class="col-md-12 text-left">{{person.stayStaff}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">驾乘车牌：</label>
        <label class="col-md-12 text-left">{{person.carNum}}</label>
      </div>
    </div>
  </div>
</div>
<div class="c-content-inner c-mt10">
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title">列控信息</p>
    </div>
  </div>
  <div class="row c-row-btm-border">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">管辖单位：</label>
        <label class="col-md-12 text-left">{{person.jurisdiction}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">涉恐特征：</label>
        <label class="col-md-12 text-left">{{person.terroristChar}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">列控类型：</label>
        <label class="col-md-12 text-left">{{person.controlType}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">核查民警：</label>
        <label class="col-md-12 text-left">{{person.checkPolice}}</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row c-ml10">
        <label class="col-md-8 col-form-label text-left">核查地点：</label>
        <label class="col-md-12 text-left">{{person.checkSite}}</label>
      </div>
    </div>
  </div>
</div>
<div class="c-content-inner c-mt10">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 c-mt10">
      <div class="form-group row c-ml10">
        <div class="col-md-9">
          <button class="col-md-12 btn btn-primary" (click)="goList();">返回</button>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
