<div class="c-content-inner">
  <div class="row">
    <div class="col-md-12">
      <p class="c-line-title">群体汇总列表</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-right">群体名称：</label>
        <div class="col-md-8">
          <input [(ngModel)]="groupName" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-md-4 col-form-label text-right">群体类别：</label>
        <div class="col-md-8">
          <input [(ngModel)]="groupType" type="text" class="form-control" placeholder="请输入...">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group text-right">
        <button class="btn btn-primary" (click)="search();"><i class="fa fa-search fa-fw"></i> 查询</button>
        <label class="c-w-1-6"></label>
        <button class="btn btn-outline-primary" (click)="export();"><i class="fa fa-download fa-fw"></i> 导出</button>
        <label class="c-w-1-6"></label>
        <button class="btn btn-outline-light" (click)="clear();"><i class="fa fa-refresh fa-fw"></i> 清空</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div #sdt="simpleDataTable" app-simple-data-table>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th class="text-center c-no-warp">
              &nbsp;&nbsp;操作&nbsp;&nbsp;
            </th>
            <th class="text-center c-w-2">
              群体
            </th>
            <th class="text-center c-w-2">
              群体类别
            </th>
            <th class="text-center c-w-6">
              群体简介
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of sdt.data">
            <td class="text-center">
              <a href="javascript:;" (click)="forwardEdit(item.groupName);"><i class="fa fa-edit fa-fw"></i></a>
              <a href="javascript:;" (click)="deletePopup(template, item.groupName, item.groupName);">
                <i class="fa fa-trash fa-fw"></i>
              </a>
            </td>
            <td class="text-center">
              <a href="javascript:;" (click)="forwardDetail(item.groupName);">{{item.groupName}}</a>
            </td>
            <td class="text-center">{{item.groupType}}</td>
            <td class="text-center">{{item.groupIntroduce}}</td>
          </tr>
          </tbody>
        </table>
        <app-simple-data-http-page #hp [url]="url" [method]="method" [param]="param" [pageList]="pageList"
                                   [btnCls]="btnCls"></app-simple-data-http-page>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">提示</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <label>确定删除 {{deleteName}}?</label>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" (click)="confirmDelete()">确定</button>
    <button type="button" class="btn btn-primary" (click)="modalRef.hide()">取消</button>
  </div>
</ng-template>
