<form [formGroup]="recordForm">
  <div class="c-content-inner">
    <div class="row">
      <div class="col-md-8">
        <p class="c-line-title">搜索信息</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 c-ml10">
        <p class="c-text-tip">轨迹积分记录必须对应到一条群体信息。</p>
        <p class="c-text-tip">请先输入群体名称查询到群体信息后再进行输入操作。</p>
      </div>
      <div class="col-md-8">
        <div class="form-group row c-ml10">
          <label class="col-md-2 col-form-label text-left">群体名称：</label>
          <div class="col-md-4">
            <input [(ngModel)]="searchName" [ngModelOptions]="{standalone: true}" maxlength="18" type="text"
                   class="form-control">
          </div>
          <div class="col-md-2">
            <button class="col-md-12 btn btn-primary" (click)="searchInfo();">搜索</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-content-inner c-font-bold">
    <div class="row">
      <div class="col-md-8">
        <p class="c-line-title">基础信息</p>
      </div>
      <div class="col-md-4 text-right">
        <button class="col-md-2 btn btn-primary" (click)="goList();">返回
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left"><span class="c-text-required">*</span>群体名称：</label>
          <div class="col-md-9">
            <input formControlName="groupName" [readonly]="true" type="text" maxlength="30" class="form-control"
                   value="{{record.groupName}}"
                   placeholder="必填项">
            <div class="c-validator-invalid"
                 [hidden]="!(recordForm.controls['groupName'].errors && recordForm.controls['groupName'].dirty)">
              名称必填，1-30位！
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">日期：</label>
          <div class="col-md-9">
            <input [(ngModel)]="record.recordDate" [readonly]="true" [dpDayPicker]="datePickerConfig"
                   [theme]="'dp-material'" [mode]="'day'" [ngModelOptions]="{standalone: true}" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group row c-ml10">
          <label class="col-md-12 col-form-label text-left">分数：</label>
          <div class="col-md-8">
            <input [(ngModel)]="record.score" type="number" min="0" [ngModelOptions]="{standalone: true}"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group row c-mr10">
          <label class="col-md-12 col-form-label text-left">规模等级：</label>
          <div class="col-md-8">
            <input [(ngModel)]="record.groupSize" type="number" min="0" max="5000" [ngModelOptions]="{standalone: true}"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">轨迹类型：</label>
          <div class="col-md-9">
            <select class="form-control c-fix-h-2" [(ngModel)]="record.inciteMethod"
                    [ngModelOptions]="{standalone: true}">
              <option value="网络煽动">网络煽动</option>
              <option value="传统聚集">传统聚集</option>
              <option value="个人">个人</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">上访地点：</label>
          <div class="col-md-9">
            <input [(ngModel)]="record.petitionLocation" type="text" [ngModelOptions]="{standalone: true}"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">上访区域：</label>
          <div class="col-md-9">
            <input [(ngModel)]="record.petitionRegion" type="text" [ngModelOptions]="{standalone: true}"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">上访动态：</label>
          <div class="col-md-9">
            <select class="form-control c-fix-h-2" [(ngModel)]="record.petitionDynamic"
                    [ngModelOptions]="{standalone: true}">
              <option value="进京未实施">进京未实施</option>
              <option value="进京已实施">进京已实施</option>
              <option value="天津未实施">天津未实施</option>
              <option value="天津已实施">天津已实施</option>
              <option value="常规管控">常规管控</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">是否落实：</label>
          <div class="col-md-9">
            <select class="form-control c-fix-h-2" [(ngModel)]="record.confirm" [ngModelOptions]="{standalone: true}">
              <option value="false">否</option>
              <option value="true">是</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">信息来源：</label>
          <div class="col-md-9">
            <input [(ngModel)]="record.infoSources" type="text" class="form-control"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">维权方式：</label>
          <div class="col-md-9">
            <input [(ngModel)]="record.actionGroup" type="text" class="form-control"
                   [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">是否造成后果：</label>
          <div class="col-md-9">
            <select class="form-control c-fix-h-2" [(ngModel)]="record.consequence"
                    [ngModelOptions]="{standalone: true}">
              <option value="false">否</option>
              <option value="true">是</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group row c-ml10">
          <label class="col-md-8 col-form-label text-left">造成后果分数：</label>
          <div class="col-md-9">
            <input [(ngModel)]="record.conseScore" type="number" min="0" max="1000"
                   [ngModelOptions]="{standalone: true}"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group row c-ml10">
          <label class="col-md-7 col-form-label text-left">上访情况简介：</label>
          <div class="col-md-7">
          <textarea [(ngModel)]="record.petitionSituation" maxlength="200" [ngModelOptions]="{standalone: true}"
                    class="form-control c-textarea-200" placeholder="输入不得超过200字"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-content-inner c-mt10">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 c-mt10">
        <div class="form-group row c-ml10">
          <div *ngIf="!isEdit" class="col-md-9">
            <button class="col-md-12 btn btn-primary" [disabled]="!recordForm.valid" (click)="submit(template);">保存
            </button>
          </div>
          <div *ngIf="isEdit" class="col-md-9">
            <button class="col-md-12 btn btn-primary" [disabled]="!recordForm.valid" (click)="submit(template);">修改
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">提示</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <label>{{record.groupName}} 提交成功!</label>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-default" (click)="returnHome()">返回首页</button>
    <button type="button" class="btn btn-primary" (click)="returnList()">返回列表页</button>
  </div>
</ng-template>
